#copy
  %p
    Hi, we’re Noctivity
    %span#tm
      ™
    \. Since 1998 we have been dreaming, starting, building and creating web businesses.  We view ourselves 
    as an 
    %b incubator, 
    taking internal and external ideas from the "can't sleep at night" concept to a 
    "wow this is amazing" reality.

.row
  #ideas
    #idea
      .running
      = link_to "DMVCheatSheets.com", "http://www.DMVCheatSheets.com"

    #idea
      .running
      = link_to "Ellie & Emmas", "http://www.EllieAndEmmas.com"

    #idea
      .building
      = link_to "Taper - The End of Email Overload", "http://www.tapermail.com"

    #idea
      .building
      = link_to "Wecora - Interior Design Marketplace", "http://www.wecora.com"

    #idea
      .sold
      = link_to "Lowfares.com", "http://www.lowfares.com"    
      %span.link_sub
        (sold to
        = link_to "Oversee.net", "http://www.oversee.net"
        in 2007)
    
    #idea
      .sold 
      Double Checker - Software      
      %span.link_sub
        (sold to
        = link_to "Vendare (now Connexus)", "http://www.connexuscorp.com"
        in 2005)    
    
    #idea
      .sold
      cPulse
      %span.link_sub
        (sold to
        = link_to "Gartner Inc", "http://www.gartner.net"
        in 2000)      

    #idea
      .consulting
      = link_to "Gwendolyn Strong Foundation", "http://www.thegsf.org"

    #idea
      .consulting
      = link_to "Lowes.com - MyLowes Project", "http://www.lowes.com"

    #idea
      .consulting
      = link_to "Macquarium", "http://www.Macquarium.com"

    #idea
      .consulting
      = link_to "Enventys - EdisonNation", "http://www.EdisonNation.com"

    #idea
      .complete
      = link_to "Givey.org - Facebook API Game", "http://www.Givey.org"

    #idea
      .complete
      Mother Goose Apps - iPhone App

    #idea
      .complete
      SimplyHeadlines.com
      
    #idea
      .complete
      Tweet For A Cure - Twitter App NPO Initiative    
    
    #legend
      .building building
      .consulting consulting
      .running growing
      .complete complete
      .sold sold
      
  .right
 
    
